@page "/"
@inject IJSRuntime js

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Hello @context.User.Identity.Name!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Hello guest!</h3>
    </NotAuthorized>
</AuthorizeView>

<div class="image-container d-flex justify-content-center align-items-center">
    <img src="/Images/logo-color.png" alt="logo">
</div>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}