@inject NavigationManager navManager
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="GoCounter">Counter</button>

@code
{
    private void GoCounter()
    {
        navManager.NavigateTo("/counter");
    }
}